<div class="">
  <p>You've landed here becuase there's a problem of some sort.</p>
  <p>It might be a bug</p>
  <p>Or perhaps you trieds to access some part of the database you're not supposed to?</p>

  <h3><%= flash[:error] %></h3>
</div>
